In [3]:
# Menggunakan Pandas DataFrame

data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2]
    }
data

{'apples': [3, 2, 0, 1], 'oranges': [0, 3, 7, 2]}

In [4]:
import pandas as pd
purchases = pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [5]:
purchases = pd.DataFrame(data, index=['Budi', 'Wati', 'Tio', 'Tia'])
purchases

      apples  oranges
Budi       3        0
Wati       2        3
Tio        0        7
Tia        1        2

In [6]:
purchases.loc['Budi']

apples     3
oranges    0
Name: Budi, dtype: int64

In [11]:
# Tugas tampilkan data masing2 pembelian dan juga sebaliknya
purchases.loc['Tio']

apples     0
oranges    7
Name: Tio, dtype: int64

In [15]:
purchases.head(0)

Empty DataFrame
Columns: [apples, oranges]
Index: []

In [17]:
purchases.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Budi to Tia
Data columns (total 2 columns):
apples     4 non-null int64
oranges    4 non-null int64
dtypes: int64(2)
memory usage: 256.0+ bytes

In [18]:
purchases.shape

(4, 2)